@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');


.rules {
  font-family: 'Gaegu', cursive;
}
.rulesSock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socket {
  display: block;
  margin: auto;
  width: 250px;
}